* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: "Blackey";
    src: url("../assets/FRAHV.TTF");
}

body {
	background-color: #000;
	background: url(../assets/Background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000;
	font-family: Blackey;
}